@import url("./something.css");

* {
  margin: 0;
  padding: 0;
}

/* header */

h1 {
  width: fit-content;
  height: 30vh;
  background-image: linear-gradient(rgba(45, 45, 45, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/team.jpg");
  background-size: cover;
  margin-bottom: -150px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  animation: slideInFormRight 1s ease-in;
  transition: transform 0.2s ease-in;
}

.card:hover {
  transform: translateY(-25px);
}

.card-link {
  text-decoration: none;
  color: rgb(45, 48, 55);
}
.size {
  width:  150px;
  height: 150px;
}
/* newsletter */

.row {
  padding: 1em 1em;
}

.row.primary {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: stretch;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}

input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

button {
  background-color: blue;
  color: #fff;
}

button:hover {
  background-color: rgb(36, 36, 248);
}

.text-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

/* ---------- Animation ----------------  */

@keyframes slideInFormLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFormRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFormTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFormBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

/** contact us section **/

/*** styling the contact form ***/

.contact-us-section {
  /*** main container ***/
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.form {
  background-image: url("https://w0.peakpx.com/wallpaper/832/423/HD-wallpaper-blue-and-aqua-gradient-rainbow-colourful-green-iphone-ipad-nice-pink-red-samsung-tablet.jpg");
  background-size: contain;
  margin-top: 18px;
  margin-right: 25px;
  height: 650px;
  width: 400px;
  border-radius: 10px;
}

.form h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  text-shadow: 2px 2px rgb(14, 13, 13);
  color: rgb(240, 236, 3);
}

.form h3 {
  color: black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.form-name,
.form-email-address,
.form-message {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.name-box {
  width: 375px;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 8px;
  border-color: aqua;
}

.email-box {
  width: 375px;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 8px;
  border-color: aqua;
}

.message-box {
  height: 160px;
  width: 375px;
  border-radius: 10px;
  border-color: aqua;
}

.message-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.message-button button {
  width: 150px;
  height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  background-color: rgb(56, 16, 235);
  border-color: rgb(6, 143, 24);
  font-size: 20px;
  padding: 5px;
}

.message-button button:hover {
  background-color: rgb(231, 131, 16);
  color: rgb(248, 240, 240);
}

.map {
  display: flex;
  margin-top: 20px;
}

.location-map-text {
  width: 550px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(240, 236, 3);
  margin-top: 5px;
  text-shadow: 2px 2px rgb(14, 13, 13);
}

/** styling the map **/

.mapouter {
  position: relative;
  text-align: right;
  height: 650px;
  width: 600px;
  margin-left: 30px;
  padding-top: 1px;
  background-image: url("https://w0.peakpx.com/wallpaper/832/423/HD-wallpaper-blue-and-aqua-gradient-rainbow-colourful-green-iphone-ipad-nice-pink-red-samsung-tablet.jpg");
  border-radius: 10px;
}

.gmap_canvas {
  overflow: hidden;
  height: 590px;
  width: 550px;
  margin-left: 30px;
}
