@import url("./something.css");

* {
  margin: 0;
  padding: 0;
}

h1 {
  width: fit-content;
  height: 30vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-image: url("../assets/team.jpg");
  background-size: cover;
  margin-bottom: -150px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  animation: slideInFormRight 1s ease-in;
  transition: transform 0.2s ease-in;
}

.card:hover {
  transform: translateY(-25px);
}

.card-link {
  text-decoration: none;
  color: rgb(45, 48, 55);
}

.hovertext {
  position: relative;
  border-bottom: 1px black;
}

.hovertext::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 80px;
  background-color: purple;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  transition: opacity 1s ease-in-out;
  font-size: 23px;
  position: absolute;
  z-index: 1;
  right: 3%;
  top: 50%;
}

.hovertext:hover::before {
  opacity: 1;
  visibility: visible;
}

.text-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

/* ---------- navbar fixed -------------------*/

/* ---------- Animation ----------------  */

@keyframes slideInFormLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFormRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFormTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFormBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

/*** increasing the size of the text box ***/

.form-box {
  height: 100px;
  width: 100%;
}

/** changing the font size **/

.contact-us-text,
.contact-us-title,
.mb-3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/** contact us map **/
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
  padding-left: 100px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

/** FOOTER **/
